@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App{
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}
